<html>
<head>
<title>latex_longtable.tpl</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
latex_longtable.tpl</font>
</center></td></tr></table>
<pre><span class="s0">\begin{longtable}</span>
<span class="s0">{%- set position = parse_table(table_styles, 'position') %}</span>
<span class="s0">{%- if position is not none %}</span>
<span class="s0">[{{position}}]</span>
<span class="s0">{%- endif %}</span>
<span class="s0">{%- set column_format = parse_table(table_styles, 'column_format') %}</span>
<span class="s0">{% raw %}{{% endraw %}{{column_format}}{% raw %}}{% endraw %}</span>

<span class="s0">{% for style in table_styles %}</span>
<span class="s0">{% if style['selector'] not in ['position', 'position_float', 'caption', 'toprule', 'midrule', 'bottomrule', 'column_format', 'label'] %}</span>
<span class="s0">\{{style['selector']}}{{parse_table(table_styles, style['selector'])}}</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% endfor %}</span>
<span class="s0">{% if caption and caption is string %}</span>
<span class="s0">\caption{% raw %}{{% endraw %}{{caption}}{% raw %}}{% endraw %}</span>
<span class="s0">{%- set label = parse_table(table_styles, 'label') %}</span>
<span class="s0">{%- if label is not none %}</span>
 <span class="s0">\label{{label}}</span>
<span class="s0">{%- endif %} \\</span>
<span class="s0">{% elif caption and caption is sequence %}</span>
<span class="s0">\caption[{{caption[1]}}]{% raw %}{{% endraw %}{{caption[0]}}{% raw %}}{% endraw %}</span>
<span class="s0">{%- set label = parse_table(table_styles, 'label') %}</span>
<span class="s0">{%- if label is not none %}</span>
 <span class="s0">\label{{label}}</span>
<span class="s0">{%- endif %} \\</span>
<span class="s0">{% else %}</span>
<span class="s0">{%- set label = parse_table(table_styles, 'label') %}</span>
<span class="s0">{%- if label is not none %}</span>
<span class="s0">\label{{label}} \\</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% set toprule = parse_table(table_styles, 'toprule') %}</span>
<span class="s0">{% if toprule is not none %}</span>
<span class="s0">\{{toprule}}</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% for row in head %}</span>
<span class="s0">{% for c in row %}{%- if not loop.first %} &amp; {% endif %}{{parse_header(c, multirow_align, multicol_align, siunitx)}}{% endfor %} \\</span>
<span class="s0">{% endfor %}</span>
<span class="s0">{% set midrule = parse_table(table_styles, 'midrule') %}</span>
<span class="s0">{% if midrule is not none %}</span>
<span class="s0">\{{midrule}}</span>
<span class="s0">{% endif %}</span>
<span class="s0">\endfirsthead</span>
<span class="s0">{% if caption and caption is string %}</span>
<span class="s0">\caption[]{% raw %}{{% endraw %}{{caption}}{% raw %}}{% endraw %} \\</span>
<span class="s0">{% elif caption and caption is sequence %}</span>
<span class="s0">\caption[]{% raw %}{{% endraw %}{{caption[0]}}{% raw %}}{% endraw %} \\</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% if toprule is not none %}</span>
<span class="s0">\{{toprule}}</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% for row in head %}</span>
<span class="s0">{% for c in row %}{%- if not loop.first %} &amp; {% endif %}{{parse_header(c, multirow_align, multicol_align, siunitx)}}{% endfor %} \\</span>
<span class="s0">{% endfor %}</span>
<span class="s0">{% if midrule is not none %}</span>
<span class="s0">\{{midrule}}</span>
<span class="s0">{% endif %}</span>
<span class="s0">\endhead</span>
<span class="s0">{% if midrule is not none %}</span>
<span class="s0">\{{midrule}}</span>
<span class="s0">{% endif %}</span>
<span class="s0">\multicolumn{% raw %}{{% endraw %}{{column_format|length}}{% raw %}}{% endraw %}{r}{Continued on next page} \\</span>
<span class="s0">{% if midrule is not none %}</span>
<span class="s0">\{{midrule}}</span>
<span class="s0">{% endif %}</span>
<span class="s0">\endfoot</span>
<span class="s0">{% set bottomrule = parse_table(table_styles, 'bottomrule') %}</span>
<span class="s0">{% if bottomrule is not none %}</span>
<span class="s0">\{{bottomrule}}</span>
<span class="s0">{% endif %}</span>
<span class="s0">\endlastfoot</span>
<span class="s0">{% for row in body %}</span>
<span class="s0">{% for c in row %}{% if not loop.first %} &amp; {% endif %}</span>
  <span class="s0">{%- if c.type == 'th' %}{{parse_header(c, multirow_align, multicol_align)}}{% else %}{{parse_cell(c.cellstyle, c.display_value, convert_css)}}{% endif %}</span>
<span class="s0">{%- endfor %} \\</span>
<span class="s0">{% if clines and clines[loop.index] | length &gt; 0 %}</span>
  <span class="s0">{%- for cline in clines[loop.index] %}{% if not loop.first %} {% endif %}{{ cline }}{% endfor %}</span>

<span class="s0">{% endif %}</span>
<span class="s0">{% endfor %}</span>
<span class="s0">\end{longtable}</span>
<span class="s0">{% raw %}{% endraw %}</span>
</pre>
</body>
</html>